{% extends 'IvoryCKEditorBundle::layout.html.twig' %}

{% block body %}
    <p style="margin:0px;font-size:12px;">{{ 'ivory_ckeditor.link' | trans({}, 'IvoryCKEditor') }} {{ link }}</p>
{% endblock body %}
